<mat-form-field class="example-full-width">
  <input matInput placeholder="Teamname" [(ngModel)]="search" (input)="filter()">
</mat-form-field>
<mat-table [dataSource]="teamsFiltered" style="width: 100%;">
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>Team</mat-header-cell>
    <mat-cell *cdkCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>
  <ng-container cdkColumnDef="paid">
    <mat-header-cell *cdkHeaderCellDef>Bezahlt?</mat-header-cell>
    <mat-cell *cdkCellDef="let element">
      <mat-slide-toggle [(ngModel)]="element.paid" (change)="save(element)">
      </mat-slide-toggle>
    </mat-cell>
  </ng-container>
  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
