<div class="admin-teams">
  <div class="mb-6">
    <input type="text" placeholder="Teamname durchsuchen..." class="input input-bordered w-full max-w-xs" [(ngModel)]="search" (input)="filter()" />
  </div>

  <div class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr class="bg-base-300">
          <th>Team</th>
          <th class="text-center">Bezahlt?</th>
        </tr>
      </thead>
      <tbody>
        @for (element of teamsFiltered; track element.id) {
          <tr class="hover">
            <td class="font-semibold">{{ element.name }}</td>
            <td class="text-center">
              <input type="checkbox" class="checkbox checkbox-sm" [(ngModel)]="element.paid" (change)="save(element)" />
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
