<div>
    <h2 id="page-heading">
        <span jhiTranslate="nightmanagerApp.game.home.title">Games</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/game/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nightmanagerApp.game.home.createLabel">
            Create a new Game
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="games?.length === 0">
        <span jhiTranslate="nightmanagerApp.game.home.notFound">No games found</span>
    </div>
    <div class="table-responsive" *ngIf="games?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goalsHome"><span jhiTranslate="nightmanagerApp.game.goalsHome">Goals Home</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goalsGuest"><span jhiTranslate="nightmanagerApp.game.goalsGuest">Goals Guest</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="state"><span jhiTranslate="nightmanagerApp.game.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="placeholder"><span jhiTranslate="nightmanagerApp.game.placeholder">Placeholder</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="start"><span jhiTranslate="nightmanagerApp.game.start">Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duration"><span jhiTranslate="nightmanagerApp.game.duration">Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="nightmanagerApp.game.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homeId"><span jhiTranslate="nightmanagerApp.game.home">Home</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guestId"><span jhiTranslate="nightmanagerApp.game.guest">Guest</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoryId"><span jhiTranslate="nightmanagerApp.game.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hallId"><span jhiTranslate="nightmanagerApp.game.hall">Hall</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><a [routerLink]="['/game', game.id, 'view' ]">{{game.id}}</a></td>
                <td>{{game.goalsHome}}</td>
                <td>{{game.goalsGuest}}</td>
                <td jhiTranslate="{{'nightmanagerApp.GameState.' + game.state}}">{{game.state}}</td>
                <td>{{game.placeholder}}</td>
                <td>{{game.start | date:'medium'}}</td>
                <td>{{game.duration}}</td>
                <td jhiTranslate="{{'nightmanagerApp.GameType.' + game.type}}">{{game.type}}</td>
                <td>
                    <div *ngIf="game.homeId">
                        <a [routerLink]="['/team', game.homeId , 'view' ]" >{{game.homeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="game.guestId">
                        <a [routerLink]="['/team', game.guestId , 'view' ]" >{{game.guestId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="game.categoryId">
                        <a [routerLink]="['/category', game.categoryId , 'view' ]" >{{game.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="game.hallId">
                        <a [routerLink]="['/hall', game.hallId , 'view' ]" >{{game.hallId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/game', game.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game', game.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game', { outlets: { popup: game.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="games?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
