h3 {
  width: 100%;
  text-align: center;
}

.referee-game {
  .home {
    width: 48%;
    float: left;
    button {
      width: 100%;
    }
  }
  .guest {
    width: 48%;
    float: right;
    button {
      width: 100%;
    }
  }
  .add {
    height: 100px;
    mat-icon {
      font-size: 100px;
      width: 100%;
    }
  }
  .center {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
  }
  mat-icon {
    height: 100%;
  }
  .complete {
    width: 100%;
  }
  mat-spinner {
    margin: 0 auto;
  }
  button {
    border-width: 1px;
  }
  .guest {
    margin: 1%;
  }
  .home {
    margin: 1%;
  }

  button {
    margin-bottom: 5px;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.minus {
  width: 100%;
  text-align: center;
}
.plus {
  text-align: center;
}

.green {
  background-color: #60ad5e;
}
