<table mat-table [dataSource]="categories">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>Generieren</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.state === 'CROKI_FIRST'">
        <button mat-button (click)="generate(element)">Croki generierung</button>
      </div>
      <div *ngIf="element.state === 'GROUP_PHASE'">
        <button mat-button (click)="generate(element)">Halbfinale generieren</button>
      </div>
      <div *ngIf="element.state === 'SEMI_FINAL'">
        <button mat-button (click)="generate(element)">Finale generieren</button>
      </div>
      <div *ngIf="element.state === 'FINAL'">
        <button mat-button (click)="generate(element)">Endtabelle generieren</button>
      </div>
      <div *ngIf="element.state === 'FINISHED'">
        Kategorie Abgeschlossen
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
