.refree-games {
  width: 100%;
  max-width: 100%;
  table {
    width: 100%;
  }
  mat-spinner {
    margin: 0 auto;
  }
  td {
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
  }
  th {
    text-align: center;
  }
  .mat-cell {
    max-width: 100px;
  }
}

mat-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
}
