<div class="app-login">
  <div *ngIf="!roleChoosing">
    <mat-form-field>
      <input matInput type="text" placeholder="Benutzername" [(ngModel)]="user.username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Passwort" [(ngModel)]="user.password">
    </mat-form-field>
    <br>
    <button mat-button (click)="onLogin()">Log in</button>
  </div>
  <div *ngIf="roleChoosing">
    <div *ngFor="let  role of roles">
      <button mat-button (click)="chooseRole(role)">{{role.name}}</button>
    </div>
  </div>
</div>
