<div class="display-games">
  <h1 style="width:100%; text-align:center;">Aktuelle Spiele</h1>
  <div *ngFor="let gameHallAssingment of gamesHallAssingments" [style.width]="widthPerHallTable">
    <h1>{{gameHallAssingment.hall.name}}</h1>
    <mat-table [dataSource]="gameHallAssingment.games">
      <ng-container cdkColumnDef="time">
        <mat-header-cell *cdkHeaderCellDef class="flex-2"><span>Zeit</span></mat-header-cell>
        <mat-cell *cdkCellDef="let element" class="flex-2"><span>{{element.startDate | date: 'HH:mm'}}</span></mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="category">
        <mat-header-cell *cdkHeaderCellDef class="flex-2"><span>Kategorie</span></mat-header-cell>
        <mat-cell *cdkCellDef="let element" class="flex-2"><span>{{element.category.name}}</span></mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="teamHome">
        <mat-header-cell *cdkHeaderCellDef class="flex-4"><span>Heim</span></mat-header-cell>
        <mat-cell *cdkCellDef="let element" class="flex-4" [class.yellow]="!element.teamHome.paid"
                  [class.semi-final]="element.type === 'SEMI_FINAL'"
                  [class.final]="element.type === 'FINAL'">
          <span>{{element.teamHome.name}}</span></mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="goalsTeamHome">
        <mat-header-cell *cdkHeaderCellDef>Tore</mat-header-cell>
        <mat-cell *cdkCellDef="let element"><span
          [class.font-white]="element.state === 'OPEN'">{{element.goalsTeamHome}}</span></mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="placeholder">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let element"><span>:</span></mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="goalsTeamGuest">
        <mat-header-cell *cdkHeaderCellDef><span>Tore</span></mat-header-cell>
        <mat-cell *cdkCellDef="let element"><span
          [class.font-white]="element.state === 'OPEN'">{{element.goalsTeamGuest}}</span></mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="teamGuest">
        <mat-header-cell *cdkHeaderCellDef class="classflex-4"><span>Gast</span></mat-header-cell>
        <mat-cell *cdkCellDef="let element" class="flex-4" [class.yellow]="!element.teamGuest.paid"
                  [class.semi-final]="element.type === 'SEMI_FINAL'"
                  [class.final]="element.type === 'FINAL'">
          <span>{{element.teamGuest.name}}</span></mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div style="width: 100%;">
      <div class="yellow" style="width:10px;height: 10px; display: inline-block;">
      </div>
      <span>Noch nicht bezahlt</span>
    </div>
  </div>
</div>
