<div class="admin-generation">
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr class="bg-base-300">
          <th>Kategorie</th>
          <th>Generieren</th>
        </tr>
      </thead>
      <tbody>
        @for (element of categories; track element.id) {
          <tr class="hover">
            <td class="font-semibold">{{ element.name }}</td>
            <td>
              @if (element.state === 'CROKI_FIRST') {
                <button class="btn btn-sm btn-primary" (click)="generate(element)">Croki generierung</button>
              }
              @if (isGenerateSemis(element)) {
                <button class="btn btn-sm btn-primary" (click)="generate(element)">Halbfinale generieren</button>
              }
              @if (element.state === 'SEMI_FINAL') {
                <button class="btn btn-sm btn-primary" (click)="generate(element)">Finale generieren</button>
              }
              @if (element.state === 'FINAL') {
                <button class="btn btn-sm btn-primary" (click)="generate(element)">Endtabelle generieren</button>
              }
              @if (element.state === 'FINISHED') {
                <span class="badge badge-success">Abgeschlossen</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
