<div class="p-6">
  <div role="alert" class="alert alert-warning" *ngIf="!pushNotSupported">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>
    <span>Push Nachrichten nicht unterstützt auf ihrem Gerät. Bei IOS bitte auf dem Home Screen hinzufügen.</span>
  </div>
  <h1 class="text-2xl font-bold mb-4">{{ (category | async)?.name }} Teams</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let team of (teams | async)" class="card shadow-md">
      <div class="card-body">
        <h2 class="card-title">{{ team.name }}</h2>
        <div class="card-actions justify-end relative group">
          <button class="btn btn-neutral btn-sm" [disabled]="tagCount >=3 && !isSubscribed(team)"
                  (click)="toggleSubscribe(team)">{{ isSubscribed(team) ? 'Deabonnieren' : 'Abonnieren' }}
          </button>
          <div
            *ngIf="tagCount >= 3 && !isSubscribed(team)"
            class="absolute -top-8 left-1/2 -translate-x-1/2 w-max bg-gray-700 text-white text-xs rounded py-1 px-2 shadow-lg z-10 hidden group-hover:block"
          >
            Du kannst maximal 3 Teams abonnieren
          </div>
          <a class="btn btn-neutral btn-sm" routerLink="/v2/public/games" [queryParams]="{teamId: team.id}">Spiele</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6">
    <a class="btn btn-outline" routerLink="/v2/public/games"
       [queryParams]="{categoryId: (categoryId | async)}">Alle {{ (category | async)?.name }} Spiele</a>
  </div>
</div>
