<app-timer></app-timer>
<mat-tab-group>
  <mat-tab label="Spiele">
    <app-admin-game-overview></app-admin-game-overview>
  </mat-tab>
  <mat-tab label="Generierung" *ngIf="fullMode">
    <app-admin-generation></app-admin-generation>
  </mat-tab>
  <mat-tab label="Teams">
    <app-admin-teams></app-admin-teams>
  </mat-tab>
  <mat-tab label="Chat">
    <app-admin-chat></app-admin-chat>
  </mat-tab>
  <mat-tab label="Notifications" *ngIf="fullMode">
    <app-admin-notifications-overview></app-admin-notifications-overview>
  </mat-tab>
  <mat-tab label="Send Notifications" *ngIf="fullMode">
    <app-admin-send-notifications></app-admin-send-notifications>
  </mat-tab>
</mat-tab-group>
