<div class="bg-base-200">
  <app-timer (startClicked)="emitStartClicked()"></app-timer>
  
  <div class="p-6">
    <div class="tabs tabs-bordered mb-6 flex flex-wrap">
      <input type="radio" name="admin_tabs" class="tab" aria-label="Spiele" checked />
      <div class="tab-content p-4 col-span-full">
        <app-admin-game-overview></app-admin-game-overview>
      </div>

      @if (fullMode) {
        <input type="radio" name="admin_tabs" class="tab" aria-label="Generierung" />
        <div class="tab-content p-4 col-span-full">
          <app-admin-generation></app-admin-generation>
        </div>
      }

      <input type="radio" name="admin_tabs" class="tab" aria-label="Teams" />
      <div class="tab-content p-4 col-span-full">
        <app-admin-teams></app-admin-teams>
      </div>

      <input type="radio" name="admin_tabs" class="tab" aria-label="Chat" />
      <div class="tab-content p-4 col-span-full">
        <app-admin-chat></app-admin-chat>
      </div>

      @if (fullMode) {
        <input type="radio" name="admin_tabs" class="tab" aria-label="Notifications" />
        <div class="tab-content p-4 col-span-full">
          <app-admin-notifications-overview></app-admin-notifications-overview>
        </div>
      }

      @if (fullMode) {
        <input type="radio" name="admin_tabs" class="tab" aria-label="Send Notifications" />
        <div class="tab-content p-4 col-span-full">
          <app-admin-send-notifications></app-admin-send-notifications>
        </div>
      }
    </div>
  </div>
</div>
