:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
  max-height: calc(100vh - 16px);
}

app-timer {
  flex-grow: 0;
  flex-shrink: 0;
}

mat-tab-group {
  flex-grow: 1;
  overflow-y: hidden;
}

mat-tab {
  overflow: scroll;
}
