/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Roboto';
}

.red {
  background-color: #f48fb1;
}

.yellow {
  background-color: #fff176;
}


.hidden {
  display: none;
}

.final {
  background-color: #ffccbc;
}

.semi-final {
  background-color: #ffe0b2;
}

.font-white {
  color: white;
}
