@if (!location.pathname.startsWith('/display')) {
  <!-- Mobile navbar (only burger menu) -->
  <div class="navbar bg-base-100 lg:hidden">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-white rounded-box w-52 z-50 text-black">
          <ng-container *ngTemplateOutlet="menuItems"></ng-container>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl" routerLink="/v2/public">Yetis</a>
    </div>
    <div class="navbar-end">
      <a routerLink="/v2/notifications" class="btn btn-ghost btn-circle" title="Notifications">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 10-12 0v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
        <ng-container *ngIf="(unreadNotificationCount$ | async) as cnt">
          <span *ngIf="cnt > 0" class="badge badge-xs badge-primary">{{cnt}}</span>
        </ng-container>
      </a>
    </div>
  </div>
  <!-- Desktop navbar with collapse functionality -->
  <div class="navbar bg-base-100 navbar-desktop hidden lg:visible" [class.collapsed]="navbarCollapsed">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" routerLink="/v2/public">Yetis</a>
    </div>
    <div class="navbar-center">
      <ul class="menu menu-horizontal px-1">
        <ng-container *ngTemplateOutlet="menuItems"></ng-container>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="flex items-center space-x-2">
        <a routerLink="/v2/notifications" class="btn btn-ghost btn-circle" title="Notifications">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 10-12 0v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <ng-container *ngIf="(unreadNotificationCount$ | async) as cnt">
            <span *ngIf="cnt > 0" class="badge badge-xs badge-primary">{{cnt}}</span>
          </ng-container>
        </a>
        <button class="btn btn-ghost navbar-toggle" title="Toggle navbar" (click)="toggleNavbar()" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" [class.rotate-180]="navbarCollapsed" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Fixed toggle shown when navbar is collapsed on desktop -->
  @if (navbarCollapsed) {
    <button class="btn btn-ghost navbar-fixed-toggle" (click)="toggleNavbar()" aria-label="Open navigation">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  }
}
<router-outlet class="container"></router-outlet>
<ng-template #menuItems>
  @if (isReferee$ | async) {
    <li>
      <a routerLink="/referee/games" class="text-xl" (click)="($any(document.activeElement))?.blur()" >Schirri Spiele</a>
    </li>
  }
  @if (isReferee$ | async) {
    <li>
      <a routerLink="/referee/chats" class="text-xl" (click)="($any(document.activeElement))?.blur()" >Schirri Chat</a>
    </li>
  }
  @if (isAdmin$ | async) {
    <li>
      <a routerLink="/admin" class="text-xl" (click)="($any(document.activeElement))?.blur()" >Admin</a>
    </li>
  }
  <li><a routerLink="/v2/public" class="text-xl" (click)="($any(document.activeElement))?.blur()">Kategorien</a></li>
  <li><a routerLink="/v2/public/games" class="text-xl" (click)="($any(document.activeElement))?.blur()">Alle Spiele</a></li>
  <li><a routerLink="/v2/public/rules" class="text-xl" (click)="($any(document.activeElement))?.blur()">Regeln & Spielplan</a></li>
  <li><a routerLink="/v2/public/shots" class="text-xl" (click)="($any(document.activeElement))?.blur()">Shots</a></li>
  @if (isShotMaster$ | async) {
    <li><a routerLink="/v2/shot-master" class="text-xl" (click)="($any(document.activeElement))?.blur()">Shot Master</a></li>
  }
  @if (!(isLoggedIn$ | async)) {
    <li><a routerLink="/login" class="text-xl" (click)="($any(document.activeElement))?.blur()">Login</a></li>
  }
  @if ((isLoggedIn$ | async)) {
    <li><a routerLink="/login" class="text-xl" (click)="logout()">Logout</a></li>
  }
</ng-template>


