<div *ngIf="isReferee">
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    {{(roleService.role$ | async)?.name }}
  </mat-toolbar>
  <mat-sidenav-container class="main-sidenav-container" (backdropClick)="opened = !opened">
    <mat-sidenav [mode]="mode"
                 [opened]="opened"
                 [fixedInViewport]="true"
                 [fixedTopGap]="layoutGap">
      <div class="nav-buttons">
        <button mat-stroked-button (click)="openChat()">Chat</button>
        <button mat-stroked-button (click)="openGames()">Spiele</button>
        <button mat-stroked-button (click)="logout()">
          Ausloggen
        </button>
      </div>
    </mat-sidenav>
    <div>
      <router-outlet class="container"></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
<div *ngIf="!isReferee">
  <nav class="navbar bg-base-200 shadow-md p-4"*ngIf="location.pathname.includes('v2')">
    <div class="container mx-auto flex justify-center md:justify-start items-center">
      <!-- Title -->
      <a href="/v2/public" class="text-2xl font-bold text-primary">Yetis Night</a>
    </div>
  </nav>
  <router-outlet class="container"></router-outlet>
</div>



