:host {
  display: flex;
  flex-direction: column;
}

// you dirty dirty
.messages-referee {
  height: calc(100vh - 64px - 70px - 40px - 30px);
}

// you dirty dirty
.messages-admin {
  height: calc(100vh - 16px - 87px - 80px - 48px - 2em - 1.34em - 100px);
}

.messages {
  flex-grow: 0;
  flex-shrink: 1;
  overflow-y: scroll;
}

.message-input {
  padding: 5px;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;

  *:nth-child(1) {
    flex-grow: 1;
    flex-shrink: 1;
  }

  *:nth-child(2) {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.message {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: grey 1px solid;
  border-radius: 3px;

  &.referee-message {
    margin-left: calc(50% - 42px);
  }
}
