<div class="flex items-center flex-col gap-2">
  <div class="form-control">
    <label class="label" for="margin-left">
      <span class="label-text">Margin (left, top, right, bot)</span>
    </label>
    <div class="join">
      <input
        type="number"
        class="w-20 input input-bordered join-item"
        id="margin-left"
        [(ngModel)]="config.margin.left"
      />
      <input
        type="number"
        class="w-20 input input-bordered join-item"
        id="margin-top"
        [(ngModel)]="config.margin.top"
      />
      <input
        type="number"
        class="w-20 input input-bordered join-item"
        id="margin-right"
        [(ngModel)]="config.margin.right"
      />
      <input
        type="number"
        class="w-20 input input-bordered join-item"
        id="margin-bottom"
        [(ngModel)]="config.margin.bottom"
      />
      <span class="join-item kbd kbd-xl">
        PX
      </span>
    </div>
  </div>
  <div class="form-control">
    <label class="label" for="margin-left">
      <span class="label-text">Total Spiele Sicht (davor, danach)</span>
    </label>
    <div class="join">
      <input
        type="number"
        class="w-40 input input-bordered join-item"
        id="total-games-before"
        [(ngModel)]="config.totalGamesView.before"
      />
      <input
        type="number"
        class="w-40 input input-bordered join-item"
        id="total-games-after"
        [(ngModel)]="config.totalGamesView.after"
      />
    </div>
  </div>
  <div class="form-control">
    <label class="label" for="margin-left">
      <span class="label-text">Kategorie Spiele Sicht (davor, danach)</span>
    </label>
    <div class="join">
      <input
        type="number"
        class="w-40 input input-bordered join-item"
        id="category-games-before"
        [(ngModel)]="config.categoryGamesView.before"
      />
      <input
        type="number"
        class="w-40 input input-bordered join-item"
        id="category-games-after"
        [(ngModel)]="config.categoryGamesView.after"
      />
    </div>
  </div>
  <div>
    <a class="btn btn-primary" (click)="startDisplayMode()" [routerLink]="'carousel'">
      <span>Start Display Mode</span>
    </a>
  </div>
</div>
