:host {
  display: block;
}

.admin-games {
  width: 100%;
  display: flex;
  gap: 10px;

  div {

    h1 {
      width: 100%;
      text-align: center;
    }

    table {
      width: 100%;
    }
  }

  .mat-cell {
    text-align: center;
    width: 20%;
  }

  .mat-header-cell {
    text-align: center;
    width: 20%;
  }
}

.gray {
  background-color: #c2c2c2;
}

.live {
  background-color: #ff7961;
}
