.display-games {
  width: 100%;
  div {
    float: left;
    margin: 1%;
    h1 {
      width: 100%;
      text-align: center;
    }
  }
  .flex-4 {
    flex: 4;
  }
  .flex-2 {
    flex: 2;
  }
  .mat-cell {
    span {
      text-align: center;
      width: 100%;
    }
  }
  .mat-header-cell {
    span {
      text-align: center;
      width: 100%;
    }
  }
}
