.display-category {
  width: 100%;
  div {
    float: left;
    margin: 1%;
    width: 48%;
    h1 {
      width: 100%;
      text-align: center;
    }
    table {
      width: 100%;
    }
  }
  .mat-cell {
    text-align: center;
  }
  .mat-header-cell {
    text-align: center;
  }
}
