<div class="referee-game">
  <mat-spinner *ngIf="game==undefined"></mat-spinner>
  <div class="home" *ngIf="game">
    <h1 class="center">
      {{game?.teamHome.name}}
    </h1>
    <div class="center">
      <h2>{{game?.goalsTeamHome}}</h2>
    </div>
    <div>
      <button mat-flat-button (click)="addGoalHome()" class="add" [disabled]="game.placeholder">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <button mat-flat-button (click)="minusGoalHome()" [disabled]="game.placeholder">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <div class="guest" *ngIf="game">
    <h1 class="center">
      {{game?.teamGuest.name}}
    </h1>
    <div class="center">
      <h2>{{game?.goalsTeamGuest}}</h2>
    </div>
    <div>
      <button mat-flat-button (click)="addGoalGuest()" class="add" [disabled]="game.placeholder">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <button mat-flat-button (click)="minusGoalGuest()" [disabled]="game.placeholder">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <button mat-stroked-button (click)="completeGame()" class="complete" *ngIf="game" [disabled]="game.placeholder">
    Abschliessen
  </button>
</div>

